<div class="album py-5">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12  d-flex justify-content-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-pink active">
            <input type="checkbox" checked="" autocomplete="off"> ทั้งหมด
          </label>
          <label class="btn btn-pink">
            <input type="checkbox" autocomplete="off"> ฝาก
          </label>
          <label class="btn btn-pink">
            <input type="checkbox" autocomplete="off"> ถอน
          </label>
        </div>
      </div>
      <div class="col-12 col-sm-10">
        <br>
        <app-transaction-card></app-transaction-card>
      </div>
    </div>
  </div>
</div>
<app-right-menu></app-right-menu>