<nav class="floating-menu">
  <ul class="main-menu">
      <li>
          <a href="#" class="ripple">
              <i class="fas fa-home fa-lg"></i>
          </a>
      </li>
      <li>
          <a href="#" class="ripple">
              <i class="far fa-user fa-lg"></i>
          </a>
      </li>
  </ul>
  <div class="menu-bg"></div>
</nav>