<body class="d-flex justify-content-center h-100">
    <div class="main-content">
        <div class="row inner cover d-flex align-items-center justify-content-center h-100" style="
            background-image: url(assets/images/bg4.jpg);
            background-size: cover;">
            <div class="card col-10">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">สมัครสมาชิก</h6>
                    <form>
                        <app-input type="text" placeholder="ชื่อผู้ใช้"></app-input>
                        <app-input type="text" placeholder="เบอร์โทร"></app-input>
                        <app-input type="text" placeholder="รหัสผ่าน"></app-input>
                        <app-input type="text" placeholder="รหัสผ่านอีกครั้ง"></app-input>
                    </form>
                    <a href="#" class="card-link">เข้าสู่ระบบ</a>
                    <a class="btn btn-pink float-right " href="#">สมัครสมาชิก</a>                 
                </div>
            </div>
        </div>

    </div>
</body>