<div class="row inner cover d-flex align-items-center justify-content-center" style="
    background-image: url(assets/images/bg4.jpg);
    background-size: cover;">
    <div class="card col-10">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">เงินคงเหลือ</h6>
            <h4 class="card-title">0.00 ฿</h4>
            <a href="#" class="card-link">ฝากเงิน</a>
            <a href="#" class="card-link">ถอนเงิน</a>
        </div>
    </div>
</div>
<div class="album py-5">
    <div class="container">
        <p class="lead">หวย</p>
        <div class="row">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header thai text-center">หวยรัฐบาลไทย</div>
                    <div class="card-body text-center">
                        <span class="badge badge-dark justify-content-center">ปิดรับ 15:20</span>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-ban"></i>
                            <small class="text-muted">ยังไม่เปิดรับแทง</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header jubyeekee text-center">จับยี่กี</div>
                    <div class="card-body text-center">
                        <span class="badge badge-dark justify-content-center">เปิดแทง 88 รอบ</span>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-check"></i>
                            <small class="text-muted">24 ชม.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="lead">หวยหุ้น</p>
        <div class="row">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header stock text-center">หุ้นอียิปต์</div>
                    <div class="card-body text-center">
                        <span class="badge badge-dark justify-content-center">ปิดรับ 15:20</span>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-ban"></i>
                            <small class="text-muted">ยังไม่เปิดรับแทง</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header stock text-center">หุ้นรัสเซีย</div>
                    <div class="card-body text-center">
                        <span class="badge badge-dark justify-content-center">เปิดแทง 88 รอบ</span>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fas fa-check"></i>
                            <small class="text-muted">24 ชม.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
