<div class="progress" id="hihi" *ngIf="loading">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [ngStyle]="percent" ></div>
</div>