<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Huay.io</a>
  <a class="btn btn-secondary float-right" href="#">0.00 ฿</a>
</nav>