<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <i class="fas fa-plus fa-3x"></i>
      </div>
      <div class="col-6 text-right">
        <h5>12,000 ฿</h5>
        <h6 class="mb-2 text-muted">ฝากธนาคาร</h6>
        <h6 class="mb-2 text-muted">12/20/12 12:05</h6>
      </div>
    </div>
  </div>
</div>