<div class="album py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-12">
              <div class="card mb-4 box-shadow">
                  <div class="card-header jubyeekee text-center">จับยี่กี</div>
                  <div class="card-body row text-center">
                      <table class="table">
                        <tr>
                          <td>3 ตัว</td>
                          <td>2 ตัว</td>
                        </tr>
                        <tr>
                          <td>xxx</td>
                          <td>xx</td>
                        </tr>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-12">
              <div class="card mb-4 box-shadow">
                  <div class="card-header thai text-center">หวยรัฐบาลไทย</div>
                  <div class="card-body row text-center">
                    <table class="table">
                      <tr>
                        <td colspan="2">รางวัลที่หนึ่ง</td>
                        <td colspan="2">xxxxxx</td>
                      </tr>
                      <tr>
                        <td >3 ตัวหน้า</td>
                        <td >3 ตัวหลัง</td>
                      </tr>
                      <tr>
                        <td >xxx, xxx</td>
                        <td >xxx, xxx</td>
                      </tr>
                      <tr>
                        <td >2 ตัว</td>
                        <td >xx</td>
                      </tr>
                    </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>