<div class="form-group">
  
</div>
<div class="form-group">
  <label for="exampleInputEmail1" *ngIf="label">{{label}}</label>
  <input type="{{type}}" class="form-control" placeholder="{{placeholder}}" name="{{name}}" value="{{val}}">
  <small id="emailHelp" class="form-text text-muted">{{helper}}</small>
</div>
