<body class="d-flex justify-content-center">
    <div class="main-content">
        <app-navbar></app-navbar>
        <div class="container" style="margin-top: 40px;">>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</body>