html, .h-100 {
    height: 100%;
}

body {
    font-family: 'Prompt', sans-serif !important;
    margin: 0 auto;
}

.black-color{
    color: #333;
}
a:hover{
    color: #333;
}
a{
    color: #3b3b3b;
}

.btn{
    border-radius: 25px;
}


.thai{
    background-color: #00A8C6;
    color: #FFF;
}

.jubyeekee{
    background-color: #8FBE00;
    color: #fff;
}

.stock{
    background-color: #E84A5F;
    color: #fff;
}

.btn-pink {
    background-color: #E84A5F;
    color: #FFF;
}

.main-content{
    width: 100%;
    max-width: 700px;
    background-color: #EEE;
    height: 100%;
}

.cover{
    height: 200px;
}

@media (min-width: 576px){
    .container{
        max-width: 700px;
    }
}