#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 700px;
}

.btn-group{
    width: 100%;
}

.btn-transparent{
    background: transparent;
    padding: 0px;
}

i{
    font-size: 20px;
}

label{
    margin-bottom: 0px;
}