
<nav id="footer" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="btn-group">
    <label class="btn btn-transparent">
      <i class="fas fa-award"></i> <br/>
      ผลหวย
    </label>
    <label class="btn btn-transparent">
      <i class="fas fa-pencil-alt"></i> <br/>
      โพย
    </label>
    <label class="btn btn-transparent">
      <i class="fas fa-star"></i> <br/>
      แทงหวย
    </label>
    <label class="btn btn-transparent">
      <i class="fas fa-exchange-alt"></i> <br/>
      ฝากถอน
    </label>
    <label class="btn btn-transparent">
      <i class="fas fa-user"></i> <br/>
      ผู้ใช้ 
    </label>
  </div>
</nav>